$main-fonts: 'Open Sans', sans-serif;

$purple: #331E36;
$purple-blue: #41337A;
$blue: #6EA4BF;
$light-blue: #C2EFEB;
$cream: #ECFEE8;

body {
    font-family: $main-fonts;
    text-align: center;
    overflow-x: hidden;
    background-image: url("../images/full-bloom.png");
  }

.navbar-brand {
    color: $purple-blue;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 35px !important;
    padding-right: 30px;
  }

.navbar-brand:hover {
    color: $purple;
  }

.navbar-toggler .fa-bars {
    color: $purple;
  }

.top-nav {
    background-color: none;
  }

.top-nav .nav-item .nav-link {
    color: $purple-blue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
  }

.top-nav .nav-link:hover {
      color: $blue;
  }

.top-nav .dropdown-menu {
      background-color: #fff;
      color: #fff;
  }

.btn-search {
    color: $purple;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    background: $light-blue;
  }

.fa-shopping-cart {
    margin-left: 30px;
    color: $purple-blue;
    font-size: 25px;
  }

.carousel {
    left: 0px;
    height: 55vh;
  }

.carousel-inner {
    height: 55vh;
  }

.carousel-item {
    height: 55vh;
  }

.carousel-caption {
    padding: 20px;
    top: 30%;
    bottom: auto;
  }

.carousel-caption h5 {
    font-size: 70px;
    padding-bottom: 25px;
    line-height: 65px;
    font-family: 'Dancing Script', cursive;
    color: $purple-blue;
  }

.carousel-caption p {
    font-size: 20px;
    color: $purple;
  }

.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2;
   background: $cream; /* Old browsers */
   background: -moz-linear-gradient(left, $cream 0%, $light-blue 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, $cream 0%, $light-blue 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, $cream 0%, $light-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   opacity: .8;
  }

.carousel-caption .btn {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: $cream;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    background: $purple-blue;
  }

.carousel-caption .btn:hover {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: $purple-blue;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    border: 1px solid $purple;
  }

#spotlight {
    margin-top: 20px;
    padding: 40px;
    background-color: $light-blue;
    outline: 1px solid $blue;
    outline-offset: -10px;
    color: $cream;
    position: relative;
    z-index: 1;

  &:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    background: url("../images/fragrance-deal.jpg") right center no-repeat;
    background-color: $light-blue;
    opacity: .7;
}
}

#spotlight a {
    color: $purple-blue;
}

#spotlight p {
    color: $purple;
    font-size: 20px;
    text-align: center;
}

#spotlight .btn {
    color: $cream;
    background: $purple;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

#spotlight .btn:hover {
    color: $purple-blue;
    font-weight: bold;
    background: transparent;
    border: 1px solid $purple;
  }

#spotlight .form-inline {
    z-index: 2;
}

#spotlight a:hover {
    text-decoration: none;
}

#wrapper .text {
    position:relative;
    bottom: 210px;
    left: 300px;
    visibility: hidden;
    }

    #wrapper:hover .text {
    visibility: visible;
    }

.fa-heart {
    color: $blue;
    transition: color 0.5s ease;
}

.fa-heart:hover {
    color: $purple-blue;
}

#featured-home {
    background: none;
}

#featured-home .new {
    top: 180px;
    left: 30px;
    position: absolute;
    display: inline;
    padding: 5px;
    background: $blue;
    color: $cream;
}

#featured-home h3 {
    margin-top: -25px;
}

#featured-home h3 a {
    color: $purple-blue;
    font-size: 25px;
    margin-bottom: 0px;
}

#featured-home h3 a:hover {
    color: $blue;
    margin-bottom: 0px;
    text-decoration: none;
}

.sale-price {
    color: $blue;
    font-weight: bold;
    font-size: 20px;
}

#featured-home .fa-shopping-cart {
    color: $blue;
    font-size: 30px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
  }

h2 {
    font-family: 'Dancing Script', cursive !important;
    font-size: 45px !important;
    padding: 20px;
    color: $purple-blue !important;
}

h2.line {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 4px double $purple-blue;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

.footer {
    margin-top: 30px;
    border-top: 4px double $blue;
    padding: 50px;
    color: $purple-blue;
    background-color: $light-blue;
  }

.footer h3 {
    color: $purple-blue !important;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.footer h4 {
    color: $purple-blue !important;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
  }

.footer a {
    color: $purple-blue;
  }

.footer a:hover {
    color: $purple;
    font-weight: bold;
    text-decoration: none;
  }

.footer h4 {
    color: $purple;
  }

  
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) { 
    .carousel-caption {
        padding: 20px;
        top: 10%;
        bottom: auto;
      }
    
    .carousel-caption h5 {
        font-size: 70px;
        padding-bottom: 25px;
        line-height: 65px;
        font-family: 'Dancing Script', cursive;
        color: $purple-blue;
      }

    #featured-home .new {
        top: 145px;
        left: 30px;
        position: absolute;
        display: inline;
        padding: 5px;
        background: $blue;
        color: $cream;
    }

    #wrapper .text {
        position:relative;
        bottom: 180px;
        left: 250px;
        visibility: hidden;
     }
    
        #wrapper:hover .text {
        visibility: visible;
    }

   }

   // Medium devices (tablets, less than 992px)
  @media (max-width: 992.98px) { 
  
    .carousel-caption {
      top: 100px;
    }
    
    .carousel-caption h5 {
      font-size: 50px;
      line-height: 55px;
      padding-bottom: 20px;
      font-family: 'Lora', serif;
    }

    #spotlight {
        margin-top: 20px;
        padding: 20px;
        background-color: $light-blue;
        outline: 1px solid $blue;
        outline-offset: -10px;
        color: $cream;
        position: relative;
        z-index: 1;
    
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../images/fragrance-deal.jpg") right center no-repeat;
        background-color: $light-blue;
        background-size: cover;
        opacity: .7;
    }
    }

    #spotlight p {
        color: $purple;
        font-size: 18px;
        text-align: center;
    }

    #featured-home .new {
        top: 90px;
        left: 30px;
        position: absolute;
        display: inline;
        padding: 5px;
        background: $blue;
        color: $cream;
    }

    #wrapper .text {
        position:relative;
        bottom: 130px;
        left: 180px;
        visibility: hidden;
     }
    
    #wrapper:hover .text {
        visibility: visible;
    }

    #featured-home .fa-shopping-cart {
        color: $blue;
        font-size: 22px;
        
    }

    #featured-home h3 a {
        color: $purple-blue;
        font-size: 23px;
        margin-bottom: 0px;
    }

    .sale-price {
        color: $blue;
        font-weight: bold;
        font-size: 18px;
    }

    .footer {
        text-align: center;
    }
    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
 .carousel {
   left: 0px;
   height: 35vh;
 }
 
 .carousel-inner {
   height: 100%;
 }
 
 .carousel-inner .carousel-item{
   height: 100%;
 }

 #featured-home .new {
    top: 290px;
    left: 30px;
    position: absolute;
    display: inline;
    padding: 5px;
    background: $blue;
    color: $cream;
}

#wrapper img  {
    width: 100%;
}

 #wrapper .text {
    position:relative;
    bottom: 310px;
    left: 450px;
    visibility: hidden;
 }

    #wrapper:hover .text {
    visibility: visible;
}

#featured-home .fa-shopping-cart {
    color: $blue;
    font-size: 22px; 
}

#spotlight {
    margin-top: 20px;
    padding: 20px;
    background-color: $light-blue;
    outline: 1px solid $blue;
    outline-offset: -10px;
    color: $cream;
    position: relative;
    z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/fragrance-deal.jpg") right center no-repeat;
    background-color: $light-blue;
    background-size: cover;
    opacity: .7;
}
}
 
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    #featured-home {
        text-align: center;
    }

    #featured-home .new {
        top: 200px;
        left: 30px;
        position: absolute;
        display: inline;
        padding: 5px;
        background: $blue;
        color: $cream;
    }

    #wrapper .text {
        position:relative;
        bottom: 220px;
        left: 140px;
        visibility: hidden;
     }
    
        #wrapper:hover .text {
        visibility: visible;
    }

    #featured-home .fa-shopping-cart {
        color: $blue;
        font-size: 22px; 
        margin-bottom: 20px;
        margin-left: 0px;
    }

    #featured-home h3 a {
        color: $purple-blue;
        font-size: 23px;
        margin-bottom: 0px;
    }

    #spotlight {
        margin-top: 20px;
        padding: 20px;
        background-color: $light-blue;
        outline: 1px solid $blue;
        outline-offset: -10px;
        color: $cream;
        position: relative;
        z-index: 1;
    
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../images/fragrance-deal.jpg") right center no-repeat;
        background-color: $light-blue;
        background-size: cover;
        opacity: .7;
    }
    }
  
}